<style>
   {% if product.metafields.custom.product_announcement_title != bank %}
     @media screen and (max-width:480px) {
           .product-template-grouped .breadcrumb {
              display: none;
          }
     }
   {% endif %}
</style>
<div class="product-template product-template-grouped">
  <div class="container">
    {% if collection %}
    <div class="next_prev-groups">
      {% render 'breadcrumb' %}
      {% render 'next-prev-product' %} 	
    </div>
    
    {% else %}
    {% render 'breadcrumb' %}
    {% endif %}
    {% if product.metafields.custom.product_announcement_title != bank %}
  	<div class="row mob-product-announcement">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h4>{{ product.metafields.custom.product_announcement_title }}</h4>
        <p>{{ product.metafields.custom.product_announcement_description }}</p>
      </div>
    </div>
    {% endif %}
    <div class="halo-product-content">
      <div class="row pro-page">
        {% section 'product-template-grouped' %}
        {% section 'product-recommendations' %}
      </div>
      
      {% if settings.style_product_grid == 'style_product_grid_2' %}
        {% section 'recently-viewed-products-skin-1170' %}
      {% else %}
        {% section 'recently-viewed-products' %}
      {% endif %}
    </div>   
  </div>
</div><div class="reputon-testimonials-widget" id="10b3b620-994c-11ec-b26c-e3bd297f124b" ></div>