// --------------------------------------------------
// Type

// $font-family-base: "Silka", sans-serif !important;

// $headings-font-family: "Cormorant Infant", sans-serif !important;

// --------------------------------------------------
// Colors

// --------------------------------------------------
// Links
// $link-color: $secondary;
// $link-hover-color: $primary;
// $link-hover-decoration: none;

// --------------------------------------------------
// Buttons

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xl1: 1360px,
  xxl: 1440px
);

// Box shadows



