// --------------------------------------------------
// Colors

$c-red: #DA291C;
$c-green: #17E260;
$c-blue: #1761FF;
$c-black: #000000;
$c-gray: #EEEEEE;
$c-white: #FFFFFF;

// --------------------------------------------------
// Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xl1: 1360px,
  xxl: 1440px
);