<p>Hey guys! We are excited for our second update!</p>
<p>First of all, we would like to&nbsp;
	<strong>thank you for the support</strong> and engagement you guys have shown since we launched. So many of you love EDGE and the concept behind it, and it makes us really proud to be able to improve so many people's workflow.&nbsp;
</p>
<p>As our long time backers know, we don&rsquo;t post updates very often! We apologize about that, we always plan to post more frequently, but once the campaign starts and we have to follow production closely, things always become a bit crazy around the office, and we have to focus completely on making sure that things go as smoothly as possible. Nonetheless, 
	<strong>we are working 24/7 on the production of EDGE</strong>, and we can&rsquo;t wait for you to receive it.
</p>
<p>
	<strong>For more frequent &ldquo;mini&rdquo; updates, please join us on our 
		<a href="https://t.me/RollingSquareFamily">Telegram group</a>
	</strong>, where we also discuss possible future product developments! You can also contact us at any time on 
	<a href="https://t.me/RollingSquareFamily">Telegram,</a> WhatsApp, or by emailing us at 
	<a href="https://www.indiegogo.com/campaigns/edge-the-first-modular-work-from-home-kit/campaign_updates/&lt;a%20href=&quot;mailto:support@rollingsqua.re&quot;&gt;" target="_blank" rel="noopener">support@rollingsqua.re</a>.
</p>
<p>
	<a href="https://t.me/RollingSquareFamily">
		<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622733970/hqjoloqkrd4pqyjfdsxz.png" />
	</a>
	<br />
	<br />
	<br />With this premise out of the way, let&rsquo;s dive right into this update :D
</p>
<p>
	<br />
	<br />
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622733988/koufxu1xk4hs8kbx2jiq.png" />
</p>
<p>We have designed the 
	<strong>EDGE Pouch</strong>, to easily carry and organize your EDGE Wireless Charger, EDGE Light and their cables. The pouch is made from a 
	<strong>crosshatched ripstop nylon fabric</strong> (the same material used in waterproof backpacks), thermo welded with nano hook and loop velcro patches. It&rsquo;s 
	<strong>thin</strong> and 
	<strong>lightweight</strong>, but at the same time 
	<strong>protective</strong> and 
	<strong>splash resistant</strong>.
</p>
<p>We are currently waiting for the final samples, which were supposed to arrive yesterday and have been delayed by FedEx to Friday (shipping anything has really been a pain since Covid started!). Nonetheless, it&rsquo;s most likely final. Below you can find pictures that the factory sent us before shipping out and renders of what it will look like while in use. 
	<strong>Once we receive the samples, we will post videos on 
		<a href="https://t.me/RollingSquareFamily">Telegram</a>
	</strong>.
	<br />
	<br />
</p>
<p>
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622735413/uhoirdysmbelxb9tuuca.png" />
	<br />
	<br />
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734033/xyd0wuaes0tchgqd7dfq.png" />
</p>
<p>
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734054/ynqdsfgyfwf4av0d9jbf.png" />
	<strong>
		<br />You will be able to add the EDGE Pouch to your order on Backer Tools
	</strong>, we will send you your personal access links soon (more on this later). With each EDGE Pouch, we will also give you 
	<strong>a free replacement kit</strong> (with additional magnetic discs, rings and nanosuction layers). We will give you more information on the replacement kit in our next update.
	<br />
	<br />
	<br />
</p>
<p>
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734079/euaepfv6oj6rwtlvglow.png" />
</p>
<p>During further testing, we have noticed that once you stick EDGE Mount to your device, a lot of users find it hard to remove it. It&rsquo;s not that surprising, because the nanosuction layer is indeed quite strong, as it should be!</p>
<p>But a lot of backers mentioned that they&rsquo;d like to be able to remove EDGE Mount and place it on different devices, so 
	<strong>we decided to include a free plastic remover with every EDGE Mount</strong>. You can use as a wedge to carefully unstick it, we will film an instructions video in a future update.
</p>
<p>
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734256/panxrpdpdq0j1t4zgaq8.png" />
	<br />
	<br />
	<br />
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734099/rhpsxesg6wnve07nv7cs.png" />
</p>
<p>
	<strong>We originally planned to start shipping by the end of June, but, although almost everything is under production, it looks like we will have roughly a 3 weeks delay</strong>, as some suppliers of the internal components gave us a longer lead time than expected.
</p>
<p>We apologize for this delay! In the meantime, we are doing everything we can to minimize it by preparing everything else while we wait for the missing parts:</p>
<ul>
	<li>The aluminum housings of EDGE Mount, Wireless Charger and Light are being CNC machined, 
		<strong>we will share pictures and videos on 
			<a href="https://t.me/RollingSquareFamily">Telegram</a> as things progress
		</strong>!
	</li>
	<li>The inner components and cables have been ordered from the respective suppliers</li>
	<li>The magnetic discs and rings are under production</li>
	<li>The low impact, recycled packagings are under production, you can see what they look like in the videos we shared on 
		<a href="https://t.me/RollingSquareFamily">Telegram</a>
	</li>
	<li>The remover is under production</li>
	<li>We are waiting for the EDGE Pouch samples, which will arrive on Friday, we will start production as soon as we make sure everything is as expected</li>
</ul>
<p>We will keep you updated with how things proceed with the suppliers.</p>
<p>
	<br />
	<br />
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734116/zx6z0bgtylrkng8yafam.png" />
	<br />We are happy to let you guys know that 
	<strong>shipments will come from near you</strong>!
</p>
<p>
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734793/at1gowod6asvyuysn6lh.jpg" />
</p>
<p>Our US and European warehouses are fully operational, so we will ship all 
	<strong>US orders from the US</strong>, all 
	<strong>European orders from France</strong> and 
	<strong>the remaining orders from Hong Kong</strong> (with a couple exceptions in case our HK warehouse isn&rsquo;t able to fulfill remote countries). This means that for all US and EU orders, you won&rsquo;t have to pay any VAT or duties. For the other countries, it depends on each case.
</p>
<p>
	<br />
	<br />
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734137/z4xvzyrow3vxjaqxxg6x.png" />
</p>
<p>Before we ship out your order, we will need you to fill out the Backer Tools form. We are currently developing it and 
	<strong>we will send you the link to access your personal form as soon as it&rsquo;s ready.</strong> Please keep an eye out for emails coming from us. We will also post it in future updates, in case our email is detected as spam.
</p>
<p>
	<br />
	<br />
	<img loading="lazy" src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1622734155/hpiwtvkbzhm8sszuk8qi.png" />
</p>
<p>Last thing! We will&nbsp;
	<strong>extend the campaign </strong>
	<strong>by</strong>
	<strong> an additional </strong>
	<strong>3</strong>
	<strong>0 days</strong>. Don&rsquo;t worry, this won&rsquo;t have any impact on the shipping schedule!
</p>
<p>&nbsp;</p>
<p>
	<strong>We can&rsquo;t wait for you to start using </strong>
	<strong>EDGE</strong>! See you in the next update, and in the mean time, if you&rsquo;d like to receive more frequent updates feel free to join&nbsp;
	<a href="https://t.me/RollingSquareFamily">
		<strong>our Telegram Group</strong>
	</a>!
	<br />
	<br />With love❤️
	<br />
	<br />The&nbsp;
	<strong>Rolling Square</strong>&nbsp;team  
	<br />
	<br />P.S. For any questions please check our FAQs, email us at 
	<a href="https://www.indiegogo.com/campaigns/edge-the-first-modular-work-from-home-kit/campaign_updates/&lt;a%20href=&quot;mailto:support@rollingsqua.re&quot;&gt;" target="_blank" rel="noopener">support@rollingsqua.re</a> or ask on 
	<a href="https://t.me/RollingSquareFamily">Telegram</a>!
</p>
<p>
	<a href="https://www.indiegogo.com/individuals/8923905">&nbsp;</a>
</p>
<p>&nbsp;</p>
