{% comment %} PRODUCT PAGE SLIDER APP CODE START {% endcomment %}{% render 'pmslider_inline.liquid' %}{% comment %} PRODUCT PAGE SLIDER APP CODE END {% endcomment %}
{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
{% if settings.product_layout == "default" %} 
	{% render 'product-default' %}
{% elsif settings.product_layout == "grouped" %}
	{% render 'product-grouped' %}
{% elsif settings.product_layout == "slider" %}
	{% render 'product-slider' %}
{% elsif settings.product_layout == "gallery" %}
	{% render 'product-gallery' %}
{% elsif settings.product_layout == "full_with" %}
	{% render 'product-full-width' %}
{% elsif settings.product_layout == "skin_1" %}
	{% render 'product-skin-1' %}
{% endif %}

{% if template contains 'product' %}
<div class="footbar-fixed footbar-fixed-product">
    {% section 'someone-purchased' %}
    {% section 'GDPR-modal' %}

    {% if settings.display_sticky %} 
        {% render 'sticky-add-to-cart' with product as product %}
    {% endif %}
</div>
{% endif %}


<!-- Product Page: TAU -->

{% if product.id == 4739535044670 %}
{% section 'tau-1' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-2' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-3' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-4' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-4-B' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-5' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-6' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-7' %}
{% endif %}

{% if product.id == 4739535044670 %}
{% section 'tau-8' %}
{% endif %}


<!-- Product Page: HYPHEN 2 -->

{% if product.id == 4764868051006 %}
{% section 'hyphen2-1' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-2' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-3' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-4' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-5' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-5A' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-6' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-6A' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-7' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-7A' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-7B' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-8' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-11' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-10' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-12' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-13' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-14' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-15' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-16' %}
{% endif %}

{% if product.id == 4764868051006 %}
{% section 'hyphen2-17' %}
{% endif %}


<!-- Product Page: inCharge X -->

{% if product.id == 4801131380798 %}
{% section 'inchargex-02' %}
{% endif %}

{% if product.id == 4801131380798 %}
{% section 'inchargex-04' %}
{% endif %}

{% if product.id == 4801131380798 %}
{% section 'inchargex-06' %}
{% endif %}

{% if product.id == 4801131380798 %}
{% section 'inchargex-08' %}
{% endif %}

{% if product.id == 4801131380798 %}
{% section 'inchargex-10' %}
{% endif %}

<!-- Product Page: inCharge X + XMax -->

{% if product.id == 6590011375678 %}
{% section 'inchargex-01' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-02' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-03' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-04' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-05' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-06' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-07' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-08' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-09' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-10' %}
{% endif %}

{% if product.id == 6590011375678 %}
{% section 'inchargex-11' %}
{% endif %}


<!-- Product Page: inCharge X Max -->

{% if product.id == 4801886224446 %}
{% section 'inchargexmax-01' %}
{% endif %}

{% if product.id == 4801886224446 %}
{% section 'inchargexmax-02' %}
{% endif %}

{% if product.id == 4801886224446 %}
{% section 'inchargexmax-03' %}
{% endif %}


<!-- Product Page: 3 inCharge X + 2 XMax -->

{% if product.id == 6590161518654 %}
{% section 'inchargex-01' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-02' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-03' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-04' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-05' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-06' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-07' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-08' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-09' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-10' %}
{% endif %}

{% if product.id == 6590161518654 %}
{% section 'inchargex-11' %}
{% endif %}



<!-- Product Page: inCharge 6 -->

{% if product.id == 4445972496446 %}
{% section 'incharge6-1' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-2' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-3' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-3-A' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-3-B' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-4' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-5' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-6' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-7' %}
{% endif %}

{% if product.id == 4445972496446 %}
{% section 'incharge6-8' %}
{% endif %}


<!-- Product Page: inCharge 6 Max -->

{% if product.id == 4445978427454 %}
{% section 'incharge6max-03' %}
{% endif %}

{% if product.id == 4445978427454 %}
{% section 'incharge6max-02' %}
{% endif %}

{% if product.id == 4445978427454 %}
{% section 'incharge6max-01' %}
{% endif %}


<!-- Product Page: inCharge Pro -->

{% if product.id == 4801891139646 %}
{% section 'inchargepro-03' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-01' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-02' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-04' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-05' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-06' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-07b' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-07' %}
{% endif %}


{% if product.id == 4801891139646 %}
{% section 'inchargepro-08' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-09' %}
{% endif %}

{% if product.id == 4801891139646 %}
{% section 'inchargepro-10' %}
{% endif %}

{% render 'product_infox' %}


<!-- Product Page: EDGE Full Kit -->

{% if product.id == 6592291733566 %}
{% section 'edge-02' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-03' %}
{% endif %}


{% if product.id == 6592291733566 %}
{% section 'edge-05' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-06' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-07' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-08' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-09' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-10' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-11' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-12' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-13' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-14' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-15' %}
{% endif %}



{% if product.id == 6592291733566 %}
{% section 'edge-19' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-20' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-21' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-22' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-23' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-24' %}

{% endif %}
{% if product.id == 6592291733566 %}
{% section 'edge-25' %}
{% endif %}


{% if product.id == 6592291733566 %}
{% section 'edge-28' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-29' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-30' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-31' %}
{% endif %}

{% if product.id == 6592291733566 %}
{% section 'edge-32' %}
{% endif %}




<!-- Product Page: EDGE Mount -->

{% if product.id == 6592292487230 %}
{% section 'edge-04' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-05' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-06' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-07' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-08' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-09' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-10' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-11' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-12' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-13' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-14' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-15' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-16' %}
{% endif %}

{% if product.id == 6592292487230 %}
{% section 'edge-17' %}
{% endif %}



<!-- Product Page: EDGE Wireless Charger -->

{% if product.id == 6592431980606 %}
{% section 'edge-18' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-19' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-20' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-21' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-22' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-23' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-24' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-25' %}
{% endif %}

{% if product.id == 6592431980606 %}
{% section 'edge-26' %}
{% endif %}


<!-- Product Page: EDGE Light -->

{% if product.id == 6592432177214 %}
{% section 'edge-27' %}
{% endif %}

{% if product.id == 6592432177214 %}
{% section 'edge-28' %}
{% endif %}

{% if product.id == 6592432177214 %}
{% section 'edge-29' %}
{% endif %}

{% if product.id == 6592432177214 %}
{% section 'edge-30' %}
{% endif %}

{% if product.id == 6592432177214 %}
{% section 'edge-31' %}
{% endif %}

{% if product.id == 6592432177214 %}
{% section 'edge-33' %}
{% endif %}

<!-- Product Page: EDGE Pouch -->

{% if product.id == 6592448135230 %}
{% section 'edge-34' %}
{% endif %}

{% if product.id == 6592448135230 %}
{% section 'edge-35' %}
{% endif %}


<!-- Product Page: EDGE Replacements -->

{% if product.id == 6592473432126 %}
{% section 'edge-36' %}
{% endif %}


{{product.metafields.shogun.below}}